$base-font-size: 16;

$font-body: Georgia, Times, "Times New Roman", serif;
$font-heading: "HelveticaNeue", "Helvetica", "Arial", sans-serif;

$fira-book: "fira_sansbook", "Helvetica", "Arial", sans-serif;
$fira-light: "fira_sanslight", "Helvetica", "Arial", sans-serif; //300
$fira-reg: "fira_sansregular", "Helvetica", "Arial", sans-serif; //400
$fira-medium: "fira_sansmedium", "Helvetica", "Arial", sans-serif; //500
$fira-bold: "fira_sansbold", "Helvetica", "Arial", sans-serif; //700
$here-icons: "here-icons";
